

html{
    background-image: url(publicdomainq-0032750axi.jpg);
    background-size: cover;
}
h1{
     text-align: center;
    background-color: rgba(247, 247, 247, 0.589);
    border:10px dotted rgb(252, 154, 8);
    padding: 1.5em;
}
p{
    margin: 150px;
    text-align:center;
}
